/*
 * Copyright (C) 2007 - 2015 Hyperweb2 All rights reserved.
 * GNU General Public License version 3; see www.hyperweb2.com/terms/
 */

/*
    this file is used for "mod" scripts
*/

#ifndef WOWENGINE_MODSLOADER
#define WOWENGINE_MODSLOADER

/* This is where mods' loading functions should be declared. */

void AddMods()
{
    /* This is where mods should be added. */
}

#endif


